@page "/servers"
@attribute [StreamRendering]

<PageTitle>Servers</PageTitle>

<h1>Servers</h1>

@if (_servers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table clickable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var world in _servers)
            {
                <tr onclick="window.location = '/servers/@world.Id'">
                    <td>@world.Id</td>
                    <td>@world.Name</td>
                    <td>@world.State</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<World>? _servers;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue(Environment.GetEnvironmentVariable("ADMIN_KEY") ?? string.Empty);

        _servers = await httpClient.GetFromJsonAsync<List<World>>("http://localhost:8080/api/admin/servers");
    }
}
