@page "/servers/{wId:int}"
@inject IJSRuntime Js
@rendermode InteractiveServer

<PageTitle>Server #@WId</PageTitle>

@if (_server == null)
{
 <p><em>Loading...</em></p>
}
else
{
    <div class="panel">
        <div class="header">
            <div class="status">
                @_server.Name
                @_server.State
            </div>
            <div class="buttons">
                @if (_server.State == "CLOSED")
                {
                    <button class="btn btn-success" @onclick="StartServer">
                        <i class="bi-caret-right-fill"></i>
                        Start
                    </button>
                }
                else
                {
                    <button class="btn btn-danger" @onclick="StopServer">
                        <i class="bi-stop-circle-fill"></i>
                        Stop
                    </button>
                }
            </div>
        </div>

        <div class="console">
            <pre class="output">
                @foreach (var log in _logs)
                {
                    @log<br />
                }
            </pre>
        </div>
    </div>
}

@code {
    [Parameter] public int WId { get; set; }

    private World? _server;
    private readonly List<string> _logs = [];

    protected override async Task OnInitializedAsync()
    {
        await GetServer();
    }

    private async Task GetServer()
    {
        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue(Environment.GetEnvironmentVariable("ADMIN_KEY") ?? string.Empty);

        _server = await httpClient.GetFromJsonAsync<World>($"http://localhost:8080/api/admin/servers/{WId}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("serverLogsStream.start", DotNetObjectReference.Create(this), WId);
        }
    }

    [JSInvokable]
    public Task ReceiveLog(string log)
    {
        _logs.Add(log);
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    private async Task StartServer()
    {
        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue(Environment.GetEnvironmentVariable("ADMIN_KEY") ?? string.Empty);

        await Js.InvokeVoidAsync("serverLogsStream.start", DotNetObjectReference.Create(this), WId);
        await httpClient.PutAsync($"http://localhost:8080/api/admin/servers/{WId}/open", new StringContent(""));
        await GetServer();
    }

    private async Task StopServer()
    {
        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue(Environment.GetEnvironmentVariable("ADMIN_KEY") ?? string.Empty);

        await Js.InvokeVoidAsync("serverLogsStream.stop");
        await httpClient.PutAsync($"http://localhost:8080/api/admin/servers/{WId}/close", new StringContent(""));
        await GetServer();
    }
}